.header {
    background-color: #fff;
    padding: 16px 0;
    z-index: 10;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logoNav {
            display: flex;
            align-items: center;
            gap: 60px;

            .nav {
                ul {
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    li {
                        list-style: none;

                        a {
                            text-decoration: none;
                            color: #000;
                            font-weight: 700;
                        }

                        button {
                            padding: 0;
                        }
                    }
                }
            }
        }

        .headBtns {
            display: flex;
            gap: 16px;

            .headBtnsDiv {
                display: flex;
                gap: 16px;

                button {
                    border-radius: 28px;
                }
            }
        }

        .hamburger {
            display: none;

            button {
                background-color: transparent;
                border: 0;

                span {
                    display: block;
                    height: 3px;
                    width: 30px;
                    background-color: #FF6622;
                    margin: 4px 0;
                    transition: transform 0.3s, opacity 0.3s;
                }
            }
        }

        .hamburgerContent {
            position: fixed;
            z-index: 101;
            top: 0;
            right: 0;
            width: 280px;
            height: 100vh;
            background-color: #fff;
            border-radius: 12px 0 0 12px;
            opacity: 0;
            visibility: hidden;
            transform: translateX(100%);
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

            &.show {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);

                @media (max-width: 320px) {
                    width: 100vw;
                }
            }

            .closeMenu {
                background-color: transparent;
                border: none;
                outline: none;
                width: 24px;
                height: 24px;
                cursor: pointer;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .menuHeader {
                .content {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 16px 10px;
                }
            }

            .menuSection {
                .content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 16px 10px;

                    ul {

                        list-style: none;
                        padding: 0;

                        li {
                            margin: 15px 0;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: 16px;

                            a {
                                color: #000;
                                text-decoration: none;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 16px;
                                text-align: left;
                                text-decoration: none;
                                text-wrap: nowrap;
                                text-underline-position: from-font;
                                text-decoration-skip-ink: none;

                            }
                        }
                    }

                    .headBtnsDivMenu {
                        margin-top: 20px;
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 12px;

                        button {
                            width: 100%;
                            border-radius: 28px;
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1044px) {
        .logoNav .navHamb {
            display: none !important;
        }

        .hamburger {
            display: block !important;
        }
    }

    @media (max-width: 744px) {
        .headBtnsDiv {
            display: none !important;
        }
    }
}